    {% extends base.html %}
    {% block title %} Assignment 8 {%endblock}

    {% block content %}
    {{super()}}
    First Name: {{firstName | default('Unknown', true) | upper()}}
    Last Name : {{lastName} | default('Unknown', true) | lower()}}
    {% if name %}}
        Thanks for writing your name
    {% else %}}
        Why didn't you write your name?
    {% endif %}

    Hobbies:
    <ol>
        {% for hobby in hobbies %}
            <li>{{hobby}}</li>
        {% endfor %}
    </ol>
    {% endblock %}